.checkboxBlock {
  width: 100%;
  transition: background-color 200ms cubic-bezier(0,0,0.2,1);
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  page-break-inside: avoid;
  word-wrap: break-word;
  margin-top: 22px;
}
.checkboxTitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12pt;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 22px;
}
.checkboxesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkboxContainer {
  display: flex;
}

.checkbox {
  margin-right: 10px;
  cursor: pointer;
}
.checkboxLabel {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.5;
  letter-spacing: 0;
}
