* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: 0;
  border: none;
}

.subtitleCategory {
  margin-top: 30px;
  color: #028959;
  font-family: 'Roboto';
}
