.mainPage {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: #f0ebf8;
  padding-bottom: 50px;
}

.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.header {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 24px;
  padding-top: 22px;
}

.headerTitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24pt;
  line-height: 1.25;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 22px;
}

.headerDescription {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 22px;
}

.required {
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  color: rgb(217,48,37);
}

.submitBtn {
  margin-top: 30px;
  background: #3d8a3b;
  border-radius: 5px;
  box-shadow: 0px 4px 32px rgba(7, 8, 14, 0.1);
  width: 400px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 70px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.submitBtnDisabled {
  margin-top: 30px;
  background: #4d4b4b;
  border-radius: 5px;
  box-shadow: 0px 4px 32px rgba(7, 8, 14, 0.1);
  width: 400px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 70px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.inputError {
  border: 1px solid red;
}

.errorValidation {
  color: red;
}

.inputBlock {
  width: 100%;
  transition: background-color 200ms cubic-bezier(0,0,0.2,1);
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  page-break-inside: avoid;
  word-wrap: break-word;
  margin-top: 22px;
  font-family: 'Roboto';
}

.list {
  padding: 24px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 98%;
  }
}
